html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

p {
  line-height: 2.6rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

.sigPadContainer {
  margin: 10px 0px 10px 0px;
  padding: 0 10px 10px;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 0 4px 2px gainsboro;
}

.submitBtn {
  background-color: rgb(78, 75, 75);
  color: white;
  width: 100%;
  border-radius: 20px;
  height: 30px;
}

.sigCanvas {
  width: 100%;
  height: 200px;
}

.sigPadContainer hr {
  margin-bottom: unset;
  background-color: gainsboro;
}
.sigPadContainer button {
  border: none;
  margin-left: auto;
  color: rgb(78, 75, 75);
  padding: 0;
  display: block;
  margin-top: 5px;
}
.sigPadContainer button:hover {
  background-color: unset;
  color: black;
}

.demoContainer {
  padding: 20px;
}

.signatureTitle {
  display: flex;
  justify-content: space-between;
}

.clearBtn {
  font-size: 12px;
  padding: 0;
  border: none;
  background: none;
}

.signature,
.noSignature {
  width: 200px;
  height: 70px;
  margin: 5px 0px 10px 0px;
  border: 1px solid #e5e7e9;
  padding: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  color: #909497;
  background-color: #f8f9f9;
}

.signature {
  background-color: white;
}

.signaturePreview {
  padding: 20px;
}

.labelText {
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
}

.valueText {
  font-size: 12px;
  padding-top: 10px;
}

.demo {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .demo {
    flex-direction: column;
  }
}
